<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="<%= resource.data.layout %> <%= resource.data.page_class %>">
    <a href="#main" class="go-to-content-link">Skip to main content</a>
    <% unless page.relative_url == "/" %>
      <%= partial "header" %>
    <% end %>

    <main id="main">
      <%= yield %>
    </main>

    <footer>
      <div class="section">
        <div>
          This is a <a href="http://railsgirls.com/">Rails Girls event</a>, organized by <a href="https://rubynl.org/">Stichting Ruby NL</a>.
        </div>
        <div>
          <ul>
            <li><a href="https://twitter.com/RailsGirls_NL">@RailsGirls_NL</a></li>
            <li><a href="/code-of-conduct/">Code of Conduct</a></li>
            <li><a href="/privacy-policy/">Privacy Policy</a></li>
            <li><a href="https://github.com/rubynl/railsgirls.nl">Source code</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <div class="choice-manager js-choice-manager">
      We need your <a href="/privacy-policy/">permission to set cookies</a>.
      <div class="button-group">
        <button class="button js-cookie-accept">Accept</button>
        <button class="button button-secondary js-cookie-decline">Decline</button>
      </div>
    </div>
  </body>
</html>
