---
layout: default
page_class: home
full_title: "Rails Girls NL"
---

<section class="section text-center section-intro">
  <%= partial "header" %>

  <div class="section-intro-content">
    <h1>18th of March, 2023<br>Rotterdam</h1>
    <p class="large-text">A free, one day workshop. Discover the exciting world of web development through Ruby on Rails. With the help and guidance of our coaches, you can create a real web application in a fun and relaxed environment.</p>

    <p><%= link_to "Sign up!", site.metadata.attendee_sign_up_form_url, :class => "button sign-up-button" %></p>
    <p>Want to help out as a coach? <%= link_to "Sign up using the coach form!", site.metadata.coach_sign_up_form_url %></p>
  </div>
</section>

<section class="section schedule" id="schedule">
  <h2>Saturday 18th of March, 2023</h2>

  <table id="schedule">
    <tbody>
      <tr>
        <th>9:30 AM</th>
        <td>
          Coffee and tea. Prepare installation on laptops.
        </td>
      </tr>
      <tr>
        <th>10:30 AM</th>
        <td>
          Introduction and icebreaker
        </td>
      </tr>
      <tr>
        <th>11:00 AM</th>
        <td>
          Introduction to the app we'll be building
        </td>
      </tr>
      <tr>
        <th>11:15 AM</th>
        <td>
          Following the <a href="http://guides.railsgirls.com/app">building your app guide</a>
        </td>
      </tr>
      <tr>
        <th>12:30 PM</th>
        <td>
          Lunch time
        </td>
      </tr>
      <tr>
        <th>13:30 PM</th>
        <td>
          Lightning talks: hear from people in the community
        </td>
      </tr>
      <tr>
        <th>14:00 PM</th>
        <td>
          Continue <a href="http://guides.railsgirls.com/app">building your app</a>
        </td>
      </tr>
      <tr>
        <th>16:00 PM</th>
        <td>
          Launch your app! Wrap-up of the workshop
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="section" id="location">
  <h2>Location</h2>

  <p>
    <strong>Lendahand.com</strong><br>
    Eendrachtsplein 3. Unit 2A<br>
    3015 LA Rotterdam
  </p>

  <div class="map-placeholder js-map-placeholder">
    <div>
      <p>
        To show this Google Maps element you need to accept cookies,<br>
        or go directly to the <a href="https://www.google.com/maps?t=m&hl=en&gl=NL&q=Eendrachtsplein+3+3015+LA+Rotterdam">Google Maps website</a>.
      </p>
      <button class="button js-cookie-accept">Accept cookies</button>
    </div>
  </div>
  <iframe
    src=""
    width="900"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="map js-map"
    data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2460.9484405033936!2d4.47050121565726!3d51.91665178851852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c434a1c658a363%3A0xf7b933a9bab8397!2sEendrachtsplein%203%2C%203015%20LA%20Rotterdam!5e0!3m2!1sen!2snl!4v1669321356846!5m2!1sen!2snl"
  ></iframe>
</section>

<section class="section" id="faq">
  <h2>Frequently Asked Questions</h2>

  <h3>Where can I sign up as an attendee?</h3>
  <p>You can sign up using this <%= link_to "sign up form", site.metadata.attendee_sign_up_form_url %>. There's space for a maximum of twenty people. If more people apply, we'll put you on the waiting list in case someone cancels. If you want, we can also inform you about future workshops.</p>

  <h3>How much does the workshop cost?</h3>
  <p>Nothing, it's free! You just need to be excited to learn!</p>

  <h3>Do I need a laptop?</h3>
  <p>Yes! Please bring it with you. Don't forget your charger! Please try and set up your laptop for the workshop by <a href="https://guides.railsgirls.com/install">following this laptop setup guide</a>. If you get stuck, our coaches will help you on the morning of the workshop day.</p>

  <h3>Who can attend?</h3>
  <p>This workshop is aimed at women with a basic knowledge of working with a computer, who want to try out software development. People from other genders can apply, but women are given priority at this workshop. We welcome the LGBTQIA+ crowd.</p>
  <p>We've had people of all ages taking part. Most of the course and announcements are given in English and small group work is done in either Dutch or English.</p>

  <h3>How many people can attend?</h3>
  <p>We have limited space for this event: 20 attendees and 10 coaches. Sign up quick to secure your spot! We still have spots available!</p>
  <p>In the <a href="<%= site.metadata.attendee_sign_up_form_url %>">sign up form</a>, let us know if you want to be put on the waiting list for this event when it's full, and if you want to be notified about future events.</p>

  <h3>Are meals provided during the workshop?</h3>
  <p>Yes! We offer lunch and snacks during the workshop.</p>

  <h3>Are there vegetarian / vegan options for food?</h3>
  <p>We got you covered! Both a vegetarian and a vegan option are made available.</p>

  <h3>Can I bring my children?</h3>
  <p>Yes! We have childcare services available for attendees. This is for children maximum age five. We have a separate room and dedicated people to look after any children present. Please indicate if you will bring children on the sign up form. If you forgot to indicate this or need to update your answer, please <a href="mailto:contact@railsgirls.nl">email us</a>.</p>

  <h3>What happens once I've signed up?</h3>
  <p>Once we have enough sign ups and coaches, we will send out confirmations to those who can attend. Those that cannot will be put on a waiting list and contacted again if a space opens up.</p>
  <p>Before the day of the workshop we will update you with news about the workshop and reminders about the workshop.</p>
  <p>Please follow the <a href="https://guides.railsgirls.com/install">laptop setup guide</a> before the day of the workshop so your laptop is prepared.</p>

  <h3>I can no longer make it to the workshop. What do I do?</h3>
  <p>Please let us know you can no longer make it by <a href="mailto:contact@railsgirls.nl">emailing us</a>. Please send the email from the address you signed up with or mention your name. We will give your spot to someone on the waiting list.</p>

  <h3>Do you have a Code of Conduct?</h3>
  <p>Yes! We follow the Contributor Covenant <a href="/code-of-conduct/">Code of Conduct</a>. We use the same Code of Conduct for <a href="https://amsrb.org/">Amsterdam Ruby meetup events</a>.</p>

  <h3>Can I help out?</h3>
  <p>Thank you! We are looking for coaches to help us at the day of the workshop. <%= link_to "Sign up as a coach", site.metadata.coach_sign_up_form_url %> using the linked form.</p>

  <h3>What is this workshop?</h3>
  <p>This workshop is a local edition of <a href="http://railsgirls.com">Rails Girls</a> events. An international group of volunteers organizing events in their local areas. <a href="https://rubynl.org">Stichting Ruby NL</a> has organized previous Rails Girls events, like the <a href="http://railsgirls.com/amsterdam2019.html">Amsterdam 2019 edition</a> and <a href="http://railsgirls.com/rotterdam-06-2019.html">Rotterdam 2019 edition</a>.</p>

  <h3>I have a different question</h3>
  <p>Ask us anything! Please send us your questions at <a href="mailto:contact@railsgirls.nl">contact@railsgirls.nl</a>, <a href="https://twitter.com/RailsGirls_NL">@RailsGirls_NL on Twitter</a> or using a Twitter DM.</p>
</section>

<section class="section" id="partners">
  <h2>Partners</h2>

  <p>Rails Girls The Netherlands is made possible by generous and wonderful partners. This workshop is hosted by the awesome people at <a href="https://www.lendahand.com">Lendahand</a>.</p>

  <a href="https://www.lendahand.com" class="partner-logo">
    <img src="<%= image_path "images/logos/lendahand.svg" %>" alt="Lendahand">
  </a>
  <p>
    Social enterprise Lendahand is a crowdfunding platform where European investors can invest in entrepreneurs in emerging markets that don’t have access to the capital they desperately need. By providing loans to these entrepreneurs they are able to grow their businesses, create new jobs and improve their local economies.
  </p>
</section>

<section class="section team-section" id="team">
  <h2>Organizers</h2>

  <ul>
    <li>
      <img src="<%= image_path "images/team/floor_drees.jpg" %>" alt="Floor Drees">
      <span>Floor Drees</span>
    </li>
    <li>
      <img src="<%= image_path "images/team/rayta_van_rijswijk.jpg" %>" alt="Rayta van Rijswijk">
      <span>Rayta van Rijswijk</span>
    </li>
    <li>
      <img src="<%= image_path "images/team/tom_de_bruijn.jpg" %>" alt="Tom de Bruijn">
      <span>Tom de Bruijn</span>
    </li>
    <li>
      <img src="<%= image_path "images/team/arno_fleming.jpg" %>" alt="Arno Fleming">
      <span>Arno Fleming</span>
    </li>
    <li>
      <img src="<%= image_path "images/team/timo_bleeker.jpg" %>" alt="Timo Bleeker">
      <span>Timo Bleeker</span>
    </li>
  </ul>
</section>

<section class="section team-section" id="coaches">
  <h2>Coaches</h2>

  <p>To be announced!</p>

  <ul>
    <li>
      <img src="<%= image_path "images/team/coach.svg" %>" alt="Placeholder avatar">
      <span><%= link_to "You?", site.metadata.coach_sign_up_form_url %></span>
    </li>
  </ul>

  <p class="text-center">Want to help out as a coach? <%= link_to "Sign up using the coach form!", site.metadata.coach_sign_up_form_url %></p>
</section>

<div class="hero-home"></div>
