<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= page_title %></title>

<link rel="canonical" href="<%= canonical_url %>">

<link rel="apple-touch-icon" href="<%= image_path("images/apple-touch-icon.png") %>">
<link href="<%= image_path "images/favicon-16.png" %>" rel="icon" type="image/png" sizes="16x16">
<link href="<%= image_path "images/favicon-32.png" %>" rel="icon" type="image/png" sizes="32x32">

<meta name="description" content="<%= page_meta_description %>" />

<meta property="og:site_name" content="<%= site_title %>">
<meta property="og:title" content="<%= page_title %>">
<meta name="og:description" content="<%= page_meta_description %>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= canonical_url %>">
<meta property="og:image" content="<%= default_social_image_url %>">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">

<meta name="twitter:card" content="<%= twitter_card_type %>">
<meta name="twitter:title" content="<%= page_title %>">
<meta name="twitter:description" content="<%= page_meta_description %>">
<meta name="twitter:image" content="<%= default_social_image_url %>">
<meta name="twitter:url" content="<%= canonical_url %>">

<link rel="stylesheet" href="<%= asset_path :css %>" />
<script src="<%= asset_path :js %>" defer></script>
<%= live_reload_dev_js %>
